@charset "UTF-8;";

* {
    margin: 0px;
    padding: 0px;
}
html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 5em;
}
header {
    background-color: gren;
}
header li {
    display: none;
}
article {
    width:100%
}