img {
    height: 150px;
    animation-name: driving;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(.10, .90, .90, .7);
    /* animation-iteration-count: infinite;
    animation-direction: alternate; */
    animation-fill-mode: forwards;
}
img:hover {
    animation-play-state: paused;
}
@keyframes driving {
    to {
        transform: translateX(1130px);
    }
}
/* @keyframes driving {
    15% {
        transform: translateX(300px) rotate(45deg);
    }
    25% {
        transform: translate(500px, 300px);
    }
    35% {
        transform: translate(300px, 100px);
    }
    45% {
        transform: translateX(1000px);
    }
} */